{% extends 'CinemaCinemaBundle::layout.html.twig' %}
    {% block body %}


<ul>
    {% for film in films %}
        <li>
            <h2>{{ film.Titre }}</h2>
            <span>{{ film.Auteurs }}</span>
            <br>
            <p>{{ film.Resume }}</p>
            <br>
            <p>{{ film.Sortie }}</p>

        </li>
    {% endfor %}
</ul>
    {% endblock %}